<div mat-dialog-content class="dialog">
  <div class="container">
    <div class="row add-device-row" *ngIf="isStatusOccupied || readOnly; else otherBlock">
      <h3 class="col-sm-12 add-device-header">Device no {{deviceIndex}}</h3>
    </div>
    <ng-template #otherBlock>
      <div class="row add-device-row">
        <h3 class="col-sm-12 add-device-header">Update device no {{deviceIndex}}</h3>
      </div>
    </ng-template>
  </div>
  <form [formGroup]="addDeviceForm" (ngSubmit)="onSubmit()" *ngIf="addDeviceForm; else loaded">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <div>
            <label>Name</label>
            <mat-form-field appearance="outline">
              <input *ngIf="isStatusOccupied || readOnly; else elseBlockName" matInput formControlName="name" readonly>
              <ng-template #elseBlockName>
                <input matInput formControlName="name" type="text">
              </ng-template>
              <mat-error *ngIf="addDeviceForm.controls['name'].hasError('required')">Name is
                required</mat-error>
            </mat-form-field>
          </div>

          <div>
            <label>Status</label>
            <mat-form-field appearance="outline">
              <ng-template [ngIf]="isStatusOccupied || readOnly" [ngIfElse]="loading">
                <input matInput readonly [(ngModel)]="occupiedDevice.status" [ngModelOptions]="{standalone: true}">
              </ng-template>

              <ng-template #loading>
                <mat-select formControlName="statusId">
                  <mat-option *ngFor="let status of suggestionOptions[columnIndex.STATUS]" [value]="status.id"
                    [disabled]="status.id === 2">
                    {{status.status}}
                  </mat-option>
                </mat-select>
              </ng-template>
              <mat-error *ngIf="addDeviceForm.controls['statusId'].hasError('required')">Status
                is required</mat-error>
            </mat-form-field>
          </div>

          <div>
            <label>Item type</label>
            <ng-template [ngIf]="isStatusOccupied" [ngIfElse]="elseBlockItemType">
              <mat-form-field appearance="outline">
                <input matInput readonly [(ngModel)]="occupiedDevice.itemType" [ngModelOptions]="{standalone: true}">
              </mat-form-field>
            </ng-template>
            <ng-template #elseBlockItemType>
              <mat-form-field appearance="outline">
                <mat-select formControlName="itemTypeId">
                  <mat-option *ngFor="let itemType of suggestionOptions[columnIndex.ITEM_TYPE]" [value]="itemType.id">
                    {{itemType.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="addDeviceForm.controls['itemTypeId'].hasError('required')">Item Type is
                  required</mat-error>
              </mat-form-field>
            </ng-template>
          </div>
          <div>
            <label>Platform name</label>
            <mat-form-field appearance="outline" *ngIf="isStatusOccupied; else elseBlockplatformName">
              <input matInput readonly [(ngModel)]="occupiedDevice.platformName" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <ng-template #elseBlockplatformName>
              <mat-form-field appearance="outline">
                <mat-select matNativeControl formControlName="platformNameId"
                  (ngModelChange)="getPlatformVersion($event)">
                  <mat-option *ngFor="let platformName of this.suggestionOptions[columnIndex.PLATFORM_NAME]"
                    [value]="platformName">
                    {{platformName}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="addDeviceForm.controls['platformNameId'].hasError('required')">Platform
                  Name is required</mat-error>
              </mat-form-field>
            </ng-template>
          </div>

          <div>
            <label>Platform version</label>
            <mat-form-field appearance="outline" *ngIf="isStatusOccupied; else elseBlockplatformVersion">
              <input matInput readonly [(ngModel)]="occupiedDevice.platformVersion"
                [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <ng-template #elseBlockplatformVersion>
              <mat-form-field appearance="outline">
                <mat-select matNativeControl formControlName="platformId">
                  <mat-option *ngFor="let platformVersion of suggestionOptions[columnIndex.PLATFORM_VERSION]"
                    [value]="platformVersion.id">
                    {{platformVersion.version}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="addDeviceForm.controls['platformId'].hasError('required')">Platform
                  Version is required</mat-error>
              </mat-form-field>
            </ng-template>
          </div>

          <div>
            <label>Ram size</label>
            <mat-form-field appearance="outline" *ngIf="isStatusOccupied; else elseBlockRam">
              <input matInput readonly [(ngModel)]="occupiedDevice.ram" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <ng-template #elseBlockRam>
              <mat-form-field appearance="outline">
                <mat-select matNativeControl formControlName="ramId">
                  <mat-option *ngFor="let ramSize of suggestionOptions[columnIndex.RAM]" [value]="ramSize.id">
                    {{ramSize.size}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="addDeviceForm.controls['ramId'].hasError('required')">Ram
                  Size is required</mat-error>
              </mat-form-field>
            </ng-template>
          </div>

          <div>
            <label>Screen size</label>
            <mat-form-field appearance="outline" *ngIf="isStatusOccupied || readOnly; else elseBlockscreen">
              <input matInput readonly [(ngModel)]="occupiedDevice.screen" [ngModelOptions]="{standalone: true}">
            </mat-form-field>

            <ng-template #elseBlockscreen>
              <mat-form-field appearance="outline">
                <mat-select matNativeControl formControlName="screenId">
                  <mat-option *ngFor="let screenSize of suggestionOptions[columnIndex.SCREEN]" [value]="screenSize.id">
                    {{screenSize.size}} inch
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="addDeviceForm.controls['screenId'].hasError('required')">Screen
                  Size is required</mat-error>
              </mat-form-field>
            </ng-template>
          </div>
        </div>


        <div class="col-lg-6">
          <div>
            <label>Storage size</label>
            <mat-form-field appearance="outline" *ngIf="isStatusOccupied; else elseBlockstorage">
              <input matInput readonly [(ngModel)]="occupiedDevice.storage" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <ng-template #elseBlockstorage>
              <mat-form-field appearance="outline">
                <mat-select matNativeControl formControlName="storageId">
                  <mat-option *ngFor="let storageSize of suggestionOptions[columnIndex.STORAGE]"
                    [value]="storageSize.id">
                    {{storageSize.size}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="addDeviceForm.controls['storageId'].hasError('required')">Storage
                  Size is required</mat-error>
              </mat-form-field>
            </ng-template>
          </div>

          <div>
            <label>Inventory number</label>
            <mat-form-field appearance="outline" *ngIf="isStatusOccupied || readOnly; else elseBlockinventoryNumber">
              <input matInput readonly formControlName="inventoryNumber">
            </mat-form-field>
            <ng-template #elseBlockinventoryNumber>
              <mat-form-field appearance="outline">
                <input matInput formControlName="inventoryNumber" type="text">
                <mat-error *ngIf="addDeviceForm.controls['inventoryNumber'].hasError('whitespace')">Inventory
                  Number is required</mat-error>
              </mat-form-field>
            </ng-template>
          </div>

          <div>
            <label>Serial number</label>
            <mat-form-field appearance="outline" *ngIf="isStatusOccupied || readOnly; else elseBlockserialNumber">
              <input matInput readonly formControlName="serialNumber">
            </mat-form-field>
            <ng-template #elseBlockserialNumber>
              <mat-form-field appearance="outline">
                <input matInput formControlName="serialNumber" type="text">
                <mat-error *ngIf="addDeviceForm.controls['serialNumber'].hasError('whitespace')">Serial
                  Number is required</mat-error>
              </mat-form-field>
            </ng-template>
          </div>

          <div>
            <label>Project</label>
            <mat-form-field appearance="outline" *ngIf="isStatusOccupied || readOnly; else elseBlockproject">
              <input matInput readonly [(ngModel)]="occupiedDevice.project" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <ng-template #elseBlockproject>
              <mat-form-field appearance="outline">
                <mat-select matNativeControl formControlName="projectId">
                  <mat-option *ngFor="let project of suggestionOptions[columnIndex.PROJECT]" [value]="project.id">
                    {{project.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="addDeviceForm.controls['projectId'].hasError('required')">Project is
                  required</mat-error>
              </mat-form-field>
            </ng-template>
          </div>

          <div>
            <label>Origin</label>
            <mat-form-field appearance="outline" *ngIf="isStatusOccupied || readOnly; else elseBlockorigin">
              <input matInput readonly [(ngModel)]="occupiedDevice.origin" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <ng-template #elseBlockorigin>
              <mat-form-field appearance="outline">
                <mat-select matNativeControl formControlName="originId">
                  <mat-option *ngFor="let origin of suggestionOptions[columnIndex.ORIGIN]" [value]="origin.id">
                    {{origin.origin}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="addDeviceForm.controls['originId'].hasError('required')">Origin
                  is required</mat-error>
              </mat-form-field>
            </ng-template>
          </div>

          <div>
            <label>Owner</label>
            <mat-form-field appearance="outline" *ngIf="isStatusOccupied || readOnly; else elseBlockowner">
              <input matInput readonly formControlName="owner">
            </mat-form-field>
            <ng-template #elseBlockowner>
              <mat-form-field appearance="outline">
                <input matInput formControlName="owner" type="text" [matAutocomplete]="owner">
                <mat-error *ngIf="addDeviceForm.controls['owner'].hasError('whitespace')">Owner
                  is required</mat-error>
                <mat-autocomplete #owner="matAutocomplete">
                  <mat-option *ngFor="let owner of suggestionOptions[columnIndex.OWNER]" [value]="owner">
                    {{owner}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </ng-template>
          </div>

        </div>
      </div>

    </div>
    <div class="container">
      <div class="row">
        <div>
          <label>Comments</label>
          <textarea matInput readonly formControlName="comments" class="form-control" cols="30" rows="8"
            *ngIf="isStatusOccupied || readOnly; else elseBlockcomments"></textarea>
          <ng-template #elseBlockcomments>
            <textarea matInput formControlName="comments" class="form-control" cols="30" rows="8"
              placeholder="Your Comments ....."></textarea>
          </ng-template>
        </div>
        <div mat-dialog-actions class="buttons" align="center">
          <button type="button" class="btn-cancel btn btn-danger" (click)="onNoClick()">Cancel </button>
          <button type="button" class="btn-create btn btn-success" type="submit"
            *ngIf="!isStatusOccupied && !readOnly;">Update</button>
        </div>
      </div>
    </div>

  </form>

</div>

<ng-template #loaded>
  <mat-spinner></mat-spinner>
</ng-template>