<div class="global-container">
    <div class="card profile-form">
        <div class="card-body">
            <h1 class="card-title text-center">Profile</h1>
            <h2 class="card-title text-center">BadgeID: {{badgeId}}</h2>

            <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" [ngStyle]="{'text-align': 'center'}">
                <div class="form-group">
                    <label>User Name</label>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="userName" type="text">
                        <mat-error *ngIf="profileForm.controls['userName'].hasError('required')">User Name is
                            required</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <label>First Name</label>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="firstName" type="text">
                        <mat-error *ngIf="profileForm.controls['firstName'].hasError('required')">First Name is
                            required</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="lastName" type="text">
                        <mat-error *ngIf="profileForm.controls['lastName'].hasError('required')">Last Name is
                            required</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="email" type="text">
                        <mat-error *ngIf="profileForm.controls['email'].hasError('required')">Email is
                            required</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <label>Phone Number</label>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="phoneNumber" type="text">
                        <mat-error *ngIf="profileForm.controls['phoneNumber'].hasError('required')">Phone Number is
                            required</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <label>Project</label>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="project" type="text" readonly>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <button type="button" class="btn-create btn btn-success" type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>