<div class="global-container">
    <div class="card login-form">
        <div class="card-body">

            <div class="card card-container">
                <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card" />
            </div>
            <div class="form-group" *ngIf="status == 'VALID'">
                <div class="alert alert-success" role="alert">Email verified successfully. Please login.</div>
            </div>
            <div class="form-group" *ngIf="status == 'EXPIRED'">
                <div class="alert alert-danger" role="alert">Link Expired!</div>
                <button class="btn btn-primary btn-block" (click)="resendToken()">Re-send Verification
                    Email</button>
            </div>
            <div class="form-group" *ngIf="status == 'SENDING'">
                <div class="alert alert-info" role="alert">Sending mail...</div>
            </div>
            <div class="form-group" *ngIf="status == 'SENT'">
                <div class="alert alert-info" role="alert">Sent verification email</div>
            </div>
            <div class="form-group" *ngIf="status == 'INVALID'">
                <div class="alert alert-danger" role="alert">Invalid Link</div>
            </div>
        </div>
    </div>
</div>