<div class="global-container">
    <div class="card login-form">
        <div class="card-body">
            <h2 class="card-title text-center" *ngIf="!changedSuccessfully">Reset forgot password</h2>
            <form *ngIf="!changedSuccessfully" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <div class="form-group">
                    <label for="new_password">New password</label>
                    <input type="password" class="form-control form-control-sm" name="new_password"
                        [(ngModel)]="form.newPassword" required #new_password="ngModel" />
                    <div class="alert alert-danger" role="alert"
                        *ngIf="new_password.errors && f.submitted">
                        <div *ngIf="new_password.errors.required">Password is required</div>
                        <div *ngIf="new_password.errors.minlength">
                            Password must be at least 6 characters
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirmed_password">Confirm password</label>
                    <input type="password" class="form-control form-control-sm" name="confirmed_password"
                        [(ngModel)]="form.confirmPassword" required minlength="6" #confirmed_password="ngModel" />
                    <div class="alert alert-danger" role="alert"
                        *ngIf="confirmed_password.errors && f.submitted">
                        <div *ngIf="confirmed_password.errors.required">Password is required</div>
                        <div *ngIf="confirmed_password.errors.minlength">
                            Password must be at least 6 characters
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">
                        Login
                    </button>
                </div>
            </form>
            <div *ngIf="changedSuccessfully">
                <h2 class="card-title text-center">Changed successfully</h2>
            </div>
        </div>
    </div>
</div>