<div class="global-container">
    <div class="card login-form">
        <div class="card-body">
            <form *ngIf="!isLoggedIn && !isSubmitted" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"
                novalidate>
                <h2 class="card-title text-center">Forget Password</h2>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control form-control-sm" name="email" [(ngModel)]="form.email"
                        required #email="ngModel" />
                    <div class="alert alert-danger" role="alert" *ngIf="email.errors && f.submitted">
                        Email is required!
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">
                        Send
                    </button>
                </div>
                <div class="form-group">
                    <div class="alert alert-danger" role="alert" *ngIf="isConfirmationFailed">
                        {{ errorMessage }}
                    </div>
                </div>
            </form>
            <div class="spinner-wrapper" *ngIf="!sentSuccesfull && isSubmitted">
                <span>PLEASE WAIT</span>
                <mat-spinner></mat-spinner>
            </div>
            <div class="form-group">
                <div class="alert alert-success" *ngIf="sentSuccesfull && isSubmitted">
                    SENT SUCCESSFULLY
                </div>
            </div>

        </div>
    </div>
</div>