<div id="app">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand ms-5" [routerLink]="'/'">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent" *ngIf="!isLoggedIn">
            <ul class="navbar-nav">
                <li class="nav-item ms-5">
                    <a class="nav-link" [routerLink]="'/login'">Login</a>
                </li>
                <li class="nav-item ms-5">
                    <a class="nav-link" [routerLink]="'/register'">Register</a>
                </li>
            </ul>
        </div>

        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent" *ngIf="isLoggedIn">
            <ul class="navbar-nav ">
                <li class="nav-item ms-5">
                    <a class="nav-link" [routerLink]="'/requests'">Requests</a>
                </li>
                <li class="nav-item ms-5" *ngIf="this.isAdmin">
                    <a class="nav-link" [routerLink]="'/users'">Users</a>
                </li>
                <li class="nav-item dropdown ms-5">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Devices
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" [routerLink]="'/owning'">Owning devices</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" [routerLink]="'/keeping'">Keeping devices</a>
                    </div>
                </li>
            </ul>
            <ul class="nav navbar-nav me-xl-5 ms-sm-5">
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{username}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" [routerLink]="'/profile'">Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" [routerLink]="'/reset-password'">Change password</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" (click)="logout()" href="">Lougout</a>

                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>