<div class="global-container">
    <div class="card login-form">
        <div class="card-body">
            <h2 class="card-title text-center">Change password</h2>
            <form *ngIf="isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <div class="form-group">
                    <label for="oldPassword">Current password</label>
                    <input type="password" class="form-control form-control-sm" name="oldPassword"
                        [(ngModel)]="form.oldPassword" required minlength="6" #oldPassword="ngModel" />
                    <div class="alert alert-danger" role="alert" *ngIf="oldPassword.errors && f.submitted">
                        <div *ngIf="oldPassword.errors.required">Password is required</div>
                        <div *ngIf="oldPassword.errors.minlength">
                            Password must be at least 6 characters
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="newPassword">New password</label>
                    <input type="password" class="form-control form-control-sm" name="newPassword"
                        [(ngModel)]="form.newPassword" required minlength="6" #newPassword="ngModel" />
                    <div class="alert alert-danger" role="alert" *ngIf="newPassword.errors && f.submitted">
                        <div *ngIf="newPassword.errors.required">Password is required</div>
                        <div *ngIf="newPassword.errors.minlength">
                            Password must be at least 6 characters
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="confirmPassword">Confirm password</label>
                    <input type="password" class="form-control form-control-sm" name="confirmPassword"
                        [(ngModel)]="form.confirmPassword" required minlength="6" #confirmPassword="ngModel" />
                    <div class="alert alert-danger" role="alert" *ngIf="confirmPassword.errors && f.submitted">
                        <div *ngIf="confirmPassword.errors.required">Password is required</div>
                        <div *ngIf="confirmPassword.errors.minlength">
                            Password must be at least 6 characters
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">
                        Update
                    </button>
                </div>
                <div class="form-group">
                    <div class="alert alert-success" role="alert" *ngIf="f.submitted && successMessage !== ''">
                        {{ successMessage }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isConfirmationFailed">
                        {{ errorMessage }}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>